/** CSS Variables **/
:root {
    /** colors **/
    --violet-color: #7E33E0;
    --text-color: #151875;
    --sub-text-color: #8A8FB9;
    --accent-color: #FB2E86;
    --white-color: #FFFFFF;
    --black-color: #000000;

    /** fonts **/
    --lato-font: 'Lato', sans-serif;
}